/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Batas */

body{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(150, 150, 150);
}

.container{
    margin: auto;
    display: grid;
    grid-template-areas:"head head"
                        "aside main"
                        "footer footer";
    grid-template-columns: 200px 1fr;
    width: 80%;
    height: 600px;
    border: 1px solid burlywood;
    grid-gap: 10px;
} 

header{
    grid-area: head ;
    display: flex ;
    align-content: center;
    justify-content: space-between;
    height: 100px;
    padding: 15px;
    box-shadow: 0 0 2px 2px rgba(150, 150, 150, 0.5);
}


header nav ul li{
    margin-top: 40px;
    margin-right: 15px;
    display: inline-block;
    font-size: 18px;
}

header nav ul li a{
    color: rgb(150, 150, 150);
    text-decoration: none;
}

aside{
    grid-area: aside;
}

aside ul li a{
    margin: 0;
    
}

aside ul li a img{
    border-radius:10px ;
    width: 25%;
    transition: 0.3ms;
    transform: translate(0);

}

aside ul li a img:hover{
    transform: translate(20px);
}



main{
    grid-area: main;
    background-color: chartreuse;
}

footer{
    grid-area: footer;
    background-color: black;
}